<!DOCTYPE html>
<html>

<head>
    <title>Udacity Blog</title>
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css">
</head>

<body>
    <br>
    <h1 class="text-center">Udacity Blog</h1>
    <div class="text-center">
        <a href="/welcome"> Home </a> | 
        <a href="/front"> Front </a> |
        <a href="/newpost">Write New Post</a>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-8 col-xs-offset-2">
        {% block content %} {% endblock %}
    </div>
</body>

</html>