{% extends "base.html" %} 
{% block content %}
<br>
<h2 class="text-center">Editing Comment</h2>
<div class="text-center">
    Writting as {{ comment.username }}
</div>
<form method="post" action="/edit_comment" class="form-horizontal">
    <div class="form-group">
        <label for="content" class="col-md-2 control-label">Comment Content:</label>

        <div class="col-md-10">
            <textarea class="form-control" rows="10" id="content" name="content">{{ comment.content }}</textarea> {% if error_content %}
            <span class="help-block text-danger">Content is required.</span> {% endif %}
        </div>
    </div>
    <input type="hidden" name="key_id" value="{{ comment.key().id() }}">
    <button type="submit" class="btn btn-raised btn-primary col-xs-offset-2">Save</button>
    <a class="btn btn-danger" href="/post?key_id={{ comment.post_key }}">Cancel</a>
</form>
{% endblock %}