{% extends "base.html" %} 
{% block content %}
    <br>
    <h2 class="text-center text-capitalize">Sign Up</h2>
    <div class="text-center">
        Already have an account? <a href="/login">Log in here</a>
    </div>
    <div class="clearfix"></div>
    <br>
    <div class="col-md-8 col-md-offset-2">
        <form class="form-horizontal" method="POST">
            <fieldset>
                <div class="form-group">
                    <label for="username" class="col-md-2 control-label">Username</label>

                    <div class="col-md-10">
                        <input type="text" class="form-control" value="{{ username }}" id="username" placeholder="Username" name="username" required>
                        {% if error_username %}
                            <span class="help-block text-danger">This username already exists.</span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-2 control-label">Password</label>

                    <div class="col-md-10">
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm" class="col-md-2 control-label">Confirm Password</label>

                    <div class="col-md-10">
                        <input type="password" class="form-control" id="confirm" placeholder="Confirm Password" name="confirm" required>
                        {% if error_confirm %}
                            <span class="help-block text-danger">Password does not match.</span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-md-2 control-label">Email (optional)</label>

                    <div class="col-md-10">
                        <input type="email" class="form-control" value="{{ email | safe }}" id="email" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                        <br>
                        
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
